email-validator
fastapi
httpx
langchain
langchain-classic
langchain-community
langchain-google-genai
langchain-groq
langchain-mcp-adapters
langchain-postgres
langchain-text-splitters
langgraph
langsmith
mcp
openpyxl
pydantic
pypdf
python-dotenv
reportlab
uvicorn[standard]
